/*Common style*/

/* {
    margin:0;
    padding:0;
}*/

.container {
    max-width: 1200px;
    margin: 0 auto; 
    border: 1px solid #e8e8e8;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header input {
    margin-right: 1em;
}

/*Navigation*/

.navbar {
    background: white;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left; 
}

.navbar a {
    display: block; 
    padding: 20px;
    border-right: 1px solid #e8e8e8;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar a:hover {
    color: red;
}

.navbar li ul {
    display: none;
}

.navbar li:hover ul {
    display: block;
    position: absolute;
    background-color: white;
}

.core {
    display: flex;
}

main {
    padding: 1em;
    width: 70%;
}

.article-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-head button {
    transition: 500ms ease-in-out;
    background-color: aliceblue;
    border-radius: 999px;
    border: 0;
    padding: 1em 2em;
}

.article-head button:hover {
    transform: scale(120%) rotate(720deg);
    transition: 500ms ease-in-out;
    background-color: red;
    color: white;
    cursor: pointer;
}

.aside {
    padding: 1em;
    width: 30%;
}

picture * {
    width: 100%;
}

@media (max-width: 576px) {
    .core {
        display: block;
    }

    main {
        width: 90vw;
    }

    .aside {
        width: 90vw;
    }
}

.footer {
    display: flex;
    justify-content: center;
}

.footer ul li {
    display: inline;
}
